<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username ,required: true, minlength: 4 ,maxlength: 10, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, required: true ,maxlength: 35, class: 'form-control' %>
  </div>
  <div class="custom-file">
    <%= form.file_field :profile_pic,required: true, class: 'custom-file-input',accept:'image/*', id:'fi1' %>
    <%= form.label :profile_pic, class:'custom-file-label' %>
  </div>
 <div class="custom-file mt-4 mb-4">
    <%= form.file_field :cover_pic,required: true, class: 'custom-file-input',accept:'image/*', id:'fi2' %>
    <%= form.label :cover_pic, class:'custom-file-label' %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit 'Sign up',class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
  const upload_boxes = document.querySelectorAll('.custom-file-input')
  upload_boxes.forEach(box => {
    box.addEventListener('change',(e)=>{
      document.querySelector(`#${e.target.id} ~ .custom-file-label`).innerText = e.target.value
    })
  });
</script>
