<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username ,required: true, minlength: 4 ,maxlength: 10, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, required: true ,maxlength: 35, class: 'form-control' %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit 'Sign up',class: 'btn btn-primary' %>
  </div>
<% end %>
